* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
}

body {
    background-color:#f6f7f8;
  }

  
  body {
    margin: 0;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: left;
  }
  .header1 {
    box-sizing: border-box;
    padding: 10px;
    font-size: 50px;
  }
  .topnav {
    overflow: hidden;
    background-color: #ddd;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  section {
    background-color: white;
    text-align: center;
  }
  .header2 {
    font-size:40px;
    border: 10px solid powderblue;  
  }
  .container {
    border: 2px solid black;
    padding: 30px;
    margin: 20px;
  }
  .subborder {
    border-right: 2px solid #e0c0f7;
  }
  a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #f0fff0;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  .box1 {
    width: 400px;
    height: 150px;
    padding: 45px;
    margin: 20px;
    border: 10px solid #e0c0f7;
    object-fit: cover;
    background-position: center;
  }
  .box2 {
    width: 400px;
    height: 150px;
    padding: 45px;
    margin: 20px;
    border: 10px solid #e0c0f7;
    object-fit: cover;
    background-position: center;
  }
  .box3 {
    width: 400px;
    height: 150px;
    padding: 45px;
    margin: 20px;
    border: 10px solid #e0c0f7;
    object-fit: cover;
    background-position: center;
  }
  .box4 {
    width: 400px;
    height: 150px;
    padding: 45px;
    margin: 10px;
    border: 10px solid #e0c0f7;
    object-fit: cover;
    background-position: center;
  }
  .box {
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: -35px;
    width: 375px;
    height: 125px;
    padding: 45px;
    border: 5px solid black;
  }
