body {
    background-color: #f0fff0;
  }
  header {
    font-size:35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
    padding: 15px;
  }
  section {
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
    text-align: center;

  }
  .header2 {
    font-size:40px;
    border:10px; 
  }